.register-container {
  margin: 40px auto;
  width: 80%;
  background-color: #fff;
  box-shadow: 1px 1px 1px -1px;

  .ant-btn-primary {
    background-color: #04A390 !important;
    border-color: #04A390 !important;
  }

  .prev-btn {
    margin-left: 10px;
    color: #04A390;

    &:hover {
      border-color: #04A390;
    }
  }
}

.ant-steps-head-inner {
  background-color: #04A390 !important;
  border-color: #04A390 !important;
}

.ant-steps-icon {
  color: #fff !important;
}


