.header-container {
  display: flex;
  background-color: #007A6C;
  color: white;
  font-weight: bold; }
  .header-container .header-icn {
    flex: 1;
    padding: 15px; }
    .header-container .header-icn a {
      text-decoration: none;
      color: white; }
  .header-container .header-links {
    flex: 9;
    display: flex; }
    .header-container .header-links div {
      padding: 15px; }
      .header-container .header-links div:hover {
        background-color: #04A390;
        cursor: pointer; }
      .header-container .header-links div a {
        padding: 17px;
        text-decoration: none;
        color: white; }
  .header-container .header-btns {
    flex: 2;
    padding: 9px;
    display: flex; }
    .header-container .header-btns button {
      flex: 1;
      background-color: #04A390;
      color: #fff;
      font-weight: bold; }
      .header-container .header-btns button:hover {
        background-color: #fff;
        color: #007A6C; }
      .header-container .header-btns button a {
        color: #fff; }
        .header-container .header-btns button a:hover {
          color: #007A6C; }
    .header-container .header-btns .login-btn {
      margin-left: 10px; }

.login-form-button {
  display: block;
  width: 100%;
  border-color: #04A390;
  background-color: #04A390; }

.ant-modal-header, .ant-modal-footer {
  display: none !important; }
